@media only screen and (min-width: 1366px) {
  * {
    padding: 0;
    margin: 0;
  }

  .login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: #ddaa29;
  }

  .login-box {
    background-color: #ffc840;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 2px #0000005e;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 98%;
    width: 70%;
  }

  .row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    margin: 5px;
  }

  #shift {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    padding: 10px;
    height: 10%;
    border-radius: 20px;
  }

  #buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 10%;
  }

  .MuiAccordionDetails-root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .TextField.Mui-disabled {
    color: black;
  }
}

@media only screen and (max-width: 1366px) {
  * {
    padding: 0;
    margin: 0;
  }

  .login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: #ffc840;
  }

  .login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    justify-content: space-between;
    width: 90%;
  }

  #shift {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 98%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  .datepicker {
    width: 50%;
  }

  #buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
  }
}

@keyframes alert {
  0% {
    top: -10px;
    opacity: 0;
    z-index: 100;
  }
  25% {
    opacity: 100%;
    top: 30px;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.alert {
  display: flex;
  justify-content: center;
  width: 100%;
  top: 30px;
  position: fixed;
  z-index: -1;
  animation-name: alert;
  animation-duration: 4s;
  opacity: 0;
}

.alert::before {
  opacity: 100%;
}
