@media only screen and (min-width: 1366px) {
  * {
    padding: 0;
    margin: 0;
  }

  .login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
  }

  .login-box {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 98%;
    width: 70%;
  }

  .row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    margin: 10px;
  }

  #shift {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin: 10px;
    padding: 10px;
    height: 10%;
    border-radius: 20px;
  }

  #buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 10%;
  }

  .MuiAccordionDetails-root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 1366px) {
  * {
    padding: 0;
    margin: 0;
  }

  .login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
  }

  .login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
    width: 90%;
  }

  #shift {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 98%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 20px;
  }
  .datepicker {
    width: 30%;
  }
  #buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 10%;
  }
}
