@keyframes Opening {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media only screen and (min-width: 1366px) {
  .keyboard-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .simple-keyboard {
    animation-name: Opening;
    animation-duration: 1s;
    height: 100%;
  }

  .simple-keyboard.myTheme1 {
    /* background-color: rgb(255, 255, 255); */
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .simple-keyboard.myTheme1 .hg-button {
    min-height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.5); */
    color: black;
  }
}

@media only screen and (max-width: 1366px) {
  .keyboard-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .simple-keyboard {
    animation-name: Opening;
    animation-duration: 1s;
    height: 100%;
  }

  .simple-keyboard.myTheme1 {
    /* background-color: rgba(0, 0, 0, 0.8); */
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .simple-keyboard.myTheme1 .hg-button {
    min-height: 65px;
    max-height: 70px;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.5); */
    color: black;
  }
}
