@media only screen and (min-width: 1366px) {
  .keyboard-container {
    height: auto;
    display: flex;
    flex-direction: column;
    width: auto;
    border: 1px solid black;
    justify-content: center;
  }

  .keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
  }

  .simple-keyboard.myTheme1 {
    max-width: 100%;
    bottom: 0;
  }

  .simple-keyboard.myTheme1 {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .simple-keyboard.myTheme1 .hg-button {
    min-height: 70px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }
}

@media only screen and (max-width: 1366px) {
  .keyboard-container {
    height: auto;
    display: flex;
    flex-direction: column;
    width: auto;
    border: 1px solid black;
    justify-content: center;
  }

  .keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .simple-keyboard.myTheme1 {
    max-width: 100%;
  }

  .simple-keyboard.myTheme1 {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .simple-keyboard.myTheme1 .hg-button {
    min-height: 65px;
    max-height: 70px;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }
}
